{% extends "banner.html" %}
{% block body %}


<div class="card resource-card">
    <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs pull-xs-left" id="resourceTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#info" role="tab" aria-controls="profile">Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Comparision</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#home" role="tab" aria-controls="home">Json</a>
            </li>




        </ul>

    </div>
    <div class="card-block">
        <div class="tab-content">
            <div class="tab-pane " id="home" role="tabpanel">
      <pre id="json">

</pre>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel">
                {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}


                <form method="POST" action="{{ url_for('sequence_page',id=resource.id)}}">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{form.methods.label}}<br/>
                        {{form.methods(class='form-control')}}

                    </div>


                    <div class="form-group">
                        StandardSequence<br/>
                        {{form.MultipleSequence(class='multiselect',multiple='multiple')}}
                    </div>
                    {{form.submit(class='btn btn-primary')}}
                    <!--<button type="submit" class="btn btn-primary">Comparision</button>
               -->
                </form>
               </div>
            <div class="tab-pane active" id="info" role="tabpanel">
                <table class="table table-striped">
                    <thead>

                    <tbody id="tbody">
                    </tbody>
            </div>
            <div class="tab-pane" id="settings" role="tabpanel"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.multiselect').multiselect();
        $('.tooltip').tooltipster();
        $('#resourceTab a:first').tab('show');
    });

</script>

<script type="text/javascript">

    window.onload = function () {

        document.getElementById("json").innerHTML = JSON.stringify(str, null, 2);
    };

    str = {{resource.json | safe}};




</script>


<script>
    var panel = d3.select('body')
            .select('#info');

    var sequence = {{resource.json | safe}};




    panel.append('h2')
            .text('Sequence:    '+sequence.id);
    panel.append('p')
            .text('Type:    '+ sequence.type);

    panel.append('p')
            .text('Refseq:    ' + sequence.referenceSeq.referenceSeqId.coding[0].code);

    panel.append('p')
            .text('Start:    ' + sequence.referenceSeq.windowStart);

    panel.append('p')
            .text('End:    ' + sequence.referenceSeq.windowEnd);


    var variants = sequence.variant;

    var pos = [];
    for (var i = 0; i < variants.length; i++) {
        pos[i] = variants[i].start;
    }

    var min = d3.min(pos);
    var max = d3.max(pos);

    var width = 600;
    var height = 100;
    var yPos = 10;


    var svg = panel.append("svg")
            .attr('width', '100%')
            .attr('height', height);

    var dataset = [width - 10];

    svg.selectAll('rect')
            .data(dataset)
            .enter()
            .append('rect')
            .attr('x', 10)
            .attr('y', yPos)
            .attr('width', function (d) {
                return d;
            })
            .attr('height', 10)
            .attr('fill', '#2BC890');

    var linear = d3.scaleLinear()
            .domain([min, max])
            .range([40, width - 40]);

    var tooltip = d3.select("body")
            .append("div")
            .attr("class", "tooltip")
            .style("opacity", 0.0);

    svg.selectAll('rect')
            .data(variants)
            .enter()
            .append('rect')
            .attr('x', function (d) {
                return linear(d.start);
            })
            .attr('y', yPos)
            .attr('width', 10)
            .attr('height', 10)
            .attr('fill', '#E54A5C')
            .on("mouseover", function (d) {
                tooltip.html('start: '+d.start + "<br />" +
                        'end: '+d.end + " <br/>" +
                        'observedAllele: '+d.observedAllele+'<br/>'+
                        'referenceAllele: '+d.referenceAllele)
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY + 20) + "px")
                        .style("opacity", 1.0);
            })
            .on("mousemove", function (d) {
                /* 鼠标移动时，更改样式 left 和 top 来改变提示框的位置 */

                tooltip.style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY + 20) + "px");
            })
            .on("mouseout", function (d) {
                /* 鼠标移出时，将透明度设定为0.0（完全透明）*/

                tooltip.style("opacity", 0.0);
            });


    var arc = d3.arc()
            .startAngle(function (d) {
                return d.x;
            })
            .endAngle(function (d) {
                return d.x + d.dx;
            })
            .innerRadius(function (d) {
                return Math.sqrt(d.dy)
            })
            .outerRadius(function (d) {
                return Math.sqrt(d.y + d.dy);
            });


    var sequenceScale = d3.scaleLinear()
            .domain([sequence.referenceSeq.windowStart, sequence.referenceSeq.windowEnd])
            .range([0, 800]);


</script>


{% endblock %}}