{% extends "banner.html" %}
{% block body %}


<div class="card resource-card">
    <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs pull-xs-left" id="resourceTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home">Quality</a>
            </li>


        </ul>

    </div>
    <div class="card-block">
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel">
      <pre id="json">

</pre>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel">
                <form>


                    <div class="form-group">
                        <label for="methodSelect">Methods select</label>
                        <select class="form-control" id="methodSelect">
                            <option> VCF Comparison</option>
                            <option> Vcfeval + Hap.py Comparison</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="standardSequence">Sequence select</label>
                        <select class="form-control" id="standardSequence">
                            <option>NA12878-NISTv2.19</option>
                            <option>NA12878-GIABv3.2</option>
                            <option>HG002-GIABv3.2</option>
                        </select>
                    </div>

                </form>
                 </div>
            <div class="tab-pane" id="messages" role="tabpanel">c</div>
            <div class="tab-pane" id="settings" role="tabpanel">d</div>
        </div>
    </div>
</div>

<script type="text/javascript">

    window.onload = function () {

        document.getElementById("json").innerHTML = JSON.stringify(str, null, 2);
    };

    str = {{quality.text | safe}};

    $(function () {
        $('#resourceTab a:last').tab('show')
    })


</script>
{% endblock %}}